.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 15%;
    width: 40%;
    background-color: whitesmoke;
    border: 2px solid silver;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.input {
    border: 1px solid #296d98;
    border-radius: 5px;
    height: 50%;
}

@media screen and (max-width: 768px) {
    .container {
        width: 60%;
    }
}
