.comment_container_other_user,
.comment_container_this_user {
    width: max-content;
    border: solid 2px transparent;
    border-radius: 5px;
    max-width: 420px;
    margin-bottom: 16px;
    margin-left: 24px;
    margin-right: 24px;
    padding: 16px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    background-clip: padding-box;
}

.comment_container_this_user {
    align-self: flex-end;
    background: rgba(70, 87, 117, 0.2);
    background-clip: padding-box;
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
}

.message {
    margin-top: 3px;
    margin-bottom: 3px;
}

.info {
    color: silver;
}

@media screen and (max-width: 768px) {
    .comment_container_other_user,
    .comment_container_this_user {
        max-width: 240px;
    }
}
